/AI Regulation.pdf
/AI RISK MANAGEMENT.pdf
/Artificial Intelligence and the future of work_SP554__summary_en.pdf
/code1
/codes
/CORELATIONS AND STANDARD DEVIATION FROM DESCRIPTIVE TABLE.pdf
/PCA Cumulative Explained Variance.png
/PCA Scree Plot.png
/plots
/Short Info.pdf
/werkstuk-fonti_tcm235-836234.pdf